@import 'fonts';

$primaryNavy : #0D1327;
$secondaryNavy : #0B1022;
$lightRed : #E55B6A;
$lightGreen : #3CB15A;
$yellow: #FEC72A;

/* Color Theme Swatches in Hex */
$primary-red: #F21B2D;
$primary-maroon: #590E15;
$primary-crimson: #F23D4C;
$primary-white: #F2F2F2;
$primary-black: #0D0D0D;