@import "mediaQueries";
@import "colors";

.movie {
  width: 100%;
  margin: 10px 0;
  color: white;
  display: block;
  min-height: 100vh;
  margin-bottom: 100px;

  &__header {
    // padding: 0 5%;
    margin-top: 0 !important;

    &__jumbotron {
      overflow: hidden;
      img {
        width: 100%;
        margin: 0 auto;
        display: block;
      }
    }
    &__text {
      padding: 0 5%;
    }
    &__genres {
      font-size: 0.7em;
    }
    h1 {
      margin: 0;
      font-size: 1.3em;
    }
    a {
      &:link,
      &:visited {
        color: #fff;
        text-decoration: none;
      }

      &:hover {
        color: $lightRed;
      }
    }
  }

  &__description {
    width: 80%;
    height: auto;
    overflow: hidden;
    padding: 0 5%;
    background: $secondaryNavy;
    margin: 0 auto;
    border-radius: 10px;
  }

  &__content {
    //   background: skyblue;

    & > div {
      margin-top: 10px;
    }
  }
}

@include tablet {
  .movie {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;

    & * {
      margin-top: 0;
    }
    &__header {
      position: relative;
      padding: 0 6.25px;
      min-height: 450px;

      height: auto;
      overflow: hidden;
      margin-top: 10px;

      &__text,
      &__jumbotron > img {
        position: absolute;
      }

      &__text {
        right: 0;
        bottom: 17px;
        width: 97.5%;
        background: rgba(10, 10, 10, 0.3);
        padding: 2% 1.25%;
      }

      &__jumbotron {
        img {
          right: 0;
          left: 0;
          top: 0;
          bottom: 0;

          height: auto;
        }
      }
    }
    &__description {
      //   width: 280px;
      //   float: right;

      height: auto;
      //   overflow: hidden;
      padding: 22.5px;
      border-radius: 5px !important;

      & i {
        color: $yellow;
      }
    }
    &__content {
      //   img {
      //     border-radius: 10px;
      //     width: 100%;
      //     padding: 0 6.25px;
      //     margin: 0;
      //     display: block;
      //     float: left;
      //   }
    }
  }
}

@include desktop {
  .movie {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;

    & * {
      margin-top: 0;
    }

    &__header {
      padding: 0 6.25px;
      margin-top: 10px;

      &__text {
        right: 0;
        bottom: 0;
        width: 97.5%;
        background: rgba(10, 10, 10, 0.3);
        padding: 2% 1.25%;
      }
    }
    &__description {
      // width: 580px;
      // float: right;
      height: auto;
      overflow: hidden;
      padding: 22.5px;
      border-radius: 10px;
      margin-top: 10px;
      & i {
        color: $yellow;
      }
    }
    //   &__content {
    // 	img {
    // 	  border-radius: 10px;
    // 	  width: 300px;
    // 	  padding: 0 6.25px;
    // 	  margin: 0;
    // 	  display: block;
    // 	  float: left;
    // 	}
    //   }
  }
}
