@import "colors";
@import "mediaQueries";

.movie-item {
  display: flex;
  flex: 1 1 50%;
  width: 50%;
  flex-direction: column;
  margin: 2.5% 0;
  overflow: hidden !important;

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      height: 200px;
      width: 90%;
      border-radius: 10px 10px 0 0;
      -moz-border-radius: 10px 10px 0 0;
      -o-border-radius: 10px 10px 0 0;
      -ms-border-radius: 10px 10px 0 0;
      -webkit-border-radius: 10px 10px 0 0;
    }
    img {
      width: 100%;
      min-height: 100%;
      height: auto;
      flex: 1 1 auto;
      display: block;
      margin: 0 auto;
      transition: width 0.3s ease-in-out;
      &:hover {
        width: 105%;
        height: auto;
      }
    }
  }

  &__content {
    background: #fff;
    height: 70px;
    width: 80%;
    margin: 0 auto;
    border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -o-border-radius: 0 0 10px 10px;
    -ms-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    padding: 5%;
    & > h1 {
      font-size: 1em;
      padding: 0;
      margin: 0;

      a {
        &:link,
        &:visited {
          text-decoration: none;
          color: black;
        }

        &:hover {
          text-decoration: underline;
          text-decoration-color: $lightRed;
        }
      }
    }

    & > p {
      padding: 0;
      margin: 5px 0;
      i {
        font-size: 0.7em;
        color: $yellow;
      }
    }
  }
}

@include tablet {
  .movie-item {
    &:first-child {
      margin: 0;
    }
    flex: 1 1 145px;
    padding: 10px;
    margin: 15px 0 0 0 !important;

    &__content {
      overflow: hidden;
    }
  }
}

@include desktop {
  .movie-item {
    display: flex;
    flex-direction: column;
    flex: 1 1 220px;

    position: relative;
    margin: 10px 0px !important;
    overflow: hidden !important;

    &__header {
      a {
        height: 300px;
      }
    }

    &__content {
      flex: 1 1 auto;

      bottom: 0;
    }
  }
}
