@import 'colors';
@import 'mediaQueries';
.movies-list{
	min-height: 100vh;
	margin-bottom:100px;
	height: auto;
	width: 100%;
	
	@include tablet{
		&__content{
			margin:0 auto;
			width: 666px;
			overflow: hidden;
		}
	}

	@include desktop {
		&__content{
			margin:0 auto;
			width: 960px;
			overflow: hidden;
		}
	}
}