@import "colors";
@import "mediaQueries";

$navbar-height: 70px;
.navbar {
  padding: 0;
  margin: 0;
  height: $navbar-height;
  color: #fff;
  background: $secondaryNavy;
}

.navbar-brand{
	line-height: $navbar-height;
	float: left;
	width: 20%;
	background:#ccc;
	padding: 0 2.5%;
}

.menu-toggle {
	width: 75%;	
	float: right;
	background: #ccc;
  }

.collapse {
  display: none;
  background: $secondaryNavy;
  position: relative;
  z-index: 999;

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    height: auto;

    li {
      a {
        &:link,
        &:visited {
          display: block;
          padding: 10px;
          color: #fff;
          text-decoration: none;
          font-family: "Questrial", "Times New Roman", Times, serif;
        }

        &:hover {
          color: $lightRed;
        }
      }
    }
  }
}

@include tablet {
  .menu-toggle {
    display: none !important;
  }
  .collapse {
    float: right !important;
    display: block;
    ul {
      li {
        display: inline-block;
        a {
          &:link,
          &:visited {
            width: 100px;
          }
        }
      }
    }
  }
}
