@import 'colors';


.now-playing{
	width: 100%;
	height: 400px;
	padding: 25px 0;
	background: $secondaryNavy;

	&__content{
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items:center;
		margin:0 auto;
		align-items: center;
		justify-content: center;
	}

	&__movie{
		font-family: 'Roboto',sans-serif;
		color:#fff;
		width: 215px;
		margin:10px 20px;
		overflow: hidden;

		&-header{
			img{
				border-radius: 10px;
				-moz-border-radius: 10px;
				-webkit-border-radius: 10px;
				-o-border-radius: 10px;
				max-width: 215px;
				width: auto;
			}
		}
		&-content{
			display: block;
			height: 70px;
			overflow: hidden;
			
			& > h1 {
				font-size: 1em !important;
				margin:3px 0;
				padding: 0;
				font-weight: normal;
				display: block;
				
			}

			& > span {
				font-size: .9em;
				font-weight: normal;
				display: block;
				margin:5px 0;
				color: $lightGreen;
			}
		}
	}
}